In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\rohit\Documents\Flight Delay\flightdata.csv')
df.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,TAIL_NUM,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,...,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,Unnamed: 25
0,2016,1,1,1,5,DL,N836DN,1399,10397,ATL,...,2143,2102.0,-41.0,0.0,0.0,0.0,338.0,295.0,2182.0,NaN
1,2016,1,1,1,5,DL,N964DN,1476,11433,DTW,...,1435,1439.0,4.0,0.0,0.0,0.0,110.0,115.0,528.0,NaN
2,2016,1,1,1,5,DL,N813DN,1597,10397,ATL,...,1215,1142.0,-33.0,0.0,0.0,0.0,335.0,300.0,2182.0,NaN
3,2016,1,1,1,5,DL,N587NW,1768,14747,SEA,...,1335,1345.0,10.0,0.0,0.0,0.0,196.0,205.0,1399.0,NaN
4,2016,1,1,1,5,DL,N836DN,1823,14747,SEA,...,607,615.0,8.0,0.0,0.0,0.0,247.0,259.0,1927.0,NaN

In [2]:
df.shape

(11231, 26)

In [3]:
df.isnull().values.any()

True

In [4]:
df.isnull().sum()

YEAR                       0
QUARTER                    0
MONTH                      0
DAY_OF_MONTH               0
DAY_OF_WEEK                0
UNIQUE_CARRIER             0
TAIL_NUM                   0
FL_NUM                     0
ORIGIN_AIRPORT_ID          0
ORIGIN                     0
DEST_AIRPORT_ID            0
DEST                       0
CRS_DEP_TIME               0
DEP_TIME                 107
DEP_DELAY                107
DEP_DEL15                107
CRS_ARR_TIME               0
ARR_TIME                 115
ARR_DELAY                188
ARR_DEL15                188
CANCELLED                  0
DIVERTED                   0
CRS_ELAPSED_TIME           0
ACTUAL_ELAPSED_TIME      188
DISTANCE                   0
Unnamed: 25            11231
dtype: int64

In [5]:
df = df.drop('Unnamed: 25', axis=1)
df.isnull().sum()

YEAR                     0
QUARTER                  0
MONTH                    0
DAY_OF_MONTH             0
DAY_OF_WEEK              0
UNIQUE_CARRIER           0
TAIL_NUM                 0
FL_NUM                   0
ORIGIN_AIRPORT_ID        0
ORIGIN                   0
DEST_AIRPORT_ID          0
DEST                     0
CRS_DEP_TIME             0
DEP_TIME               107
DEP_DELAY              107
DEP_DEL15              107
CRS_ARR_TIME             0
ARR_TIME               115
ARR_DELAY              188
ARR_DEL15              188
CANCELLED                0
DIVERTED                 0
CRS_ELAPSED_TIME         0
ACTUAL_ELAPSED_TIME    188
DISTANCE                 0
dtype: int64

In [6]:
df = pd.read_csv(r'C:\Users\rohit\Documents\Flight Delay\flightdata.csv')

In [7]:
df = df[["MONTH", "DAY_OF_MONTH", "DAY_OF_WEEK", "ORIGIN", "DEST", "CRS_DEP_TIME", "DEP_DEL15", "CRS_ARR_TIME", "ARR_DEL15"]]
df.isnull().sum()

MONTH             0
DAY_OF_MONTH      0
DAY_OF_WEEK       0
ORIGIN            0
DEST              0
CRS_DEP_TIME      0
DEP_DEL15       107
CRS_ARR_TIME      0
ARR_DEL15       188
dtype: int64

In [8]:
df[df.isnull().values.any(axis=1)].head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN,DEST,CRS_DEP_TIME,DEP_DEL15,CRS_ARR_TIME,ARR_DEL15
177,1,9,6,MSP,SEA,701,0.0,852,NaN
179,1,10,7,MSP,DTW,1348,NaN,1632,NaN
184,1,10,7,MSP,DTW,625,0.0,912,NaN
210,1,10,7,DTW,MSP,1200,NaN,1303,NaN
478,1,22,5,SEA,JFK,2305,NaN,723,NaN

In [9]:
df = df.fillna({'ARR_DEL15': 1})
df = df.fillna({'DEP_DEL15': 1})
df.iloc[177:185]

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN,DEST,CRS_DEP_TIME,DEP_DEL15,CRS_ARR_TIME,ARR_DEL15
177,1,9,6,MSP,SEA,701,0.0,852,1.0
178,1,9,6,DTW,JFK,1527,0.0,1724,0.0
179,1,10,7,MSP,DTW,1348,1.0,1632,1.0
180,1,10,7,DTW,MSP,1540,1.0,1649,0.0
181,1,10,7,JFK,ATL,1325,0.0,1600,0.0
182,1,10,7,JFK,ATL,610,0.0,849,0.0
183,1,10,7,JFK,SEA,1615,1.0,1945,0.0
184,1,10,7,MSP,DTW,625,0.0,912,1.0

In [10]:
df.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN,DEST,CRS_DEP_TIME,DEP_DEL15,CRS_ARR_TIME,ARR_DEL15
0,1,1,5,ATL,SEA,1905,0.0,2143,0.0
1,1,1,5,DTW,MSP,1345,0.0,1435,0.0
2,1,1,5,ATL,SEA,940,0.0,1215,0.0
3,1,1,5,SEA,MSP,819,0.0,1335,0.0
4,1,1,5,SEA,DTW,2300,0.0,607,0.0

In [11]:
import math

for index, row in df.iterrows():
    df.loc[index, 'CRS_DEP_TIME'] = math.floor(row['CRS_DEP_TIME'] / 100)
    df.loc[index, 'CRS_ARR_TIME'] = math.floor(row['CRS_ARR_TIME'] / 100)
df.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN,DEST,CRS_DEP_TIME,DEP_DEL15,CRS_ARR_TIME,ARR_DEL15
0,1,1,5,ATL,SEA,19,0.0,21,0.0
1,1,1,5,DTW,MSP,13,0.0,14,0.0
2,1,1,5,ATL,SEA,9,0.0,12,0.0
3,1,1,5,SEA,MSP,8,0.0,13,0.0
4,1,1,5,SEA,DTW,23,0.0,6,0.0

In [12]:
df = pd.get_dummies(df, columns=['ORIGIN', 'DEST'])
df.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,CRS_DEP_TIME,DEP_DEL15,CRS_ARR_TIME,ARR_DEL15,ORIGIN_ATL,ORIGIN_DTW,ORIGIN_JFK,ORIGIN_MSP,ORIGIN_SEA,DEST_ATL,DEST_DTW,DEST_JFK,DEST_MSP,DEST_SEA
0,1,1,5,19,0.0,21,0.0,1,0,0,0,0,0,0,0,0,1
1,1,1,5,13,0.0,14,0.0,0,1,0,0,0,0,0,0,1,0
2,1,1,5,9,0.0,12,0.0,1,0,0,0,0,0,0,0,0,1
3,1,1,5,8,0.0,13,0.0,0,0,0,0,1,0,0,0,1,0
4,1,1,5,23,0.0,6,0.0,0,0,0,0,1,0,1,0,0,0

In [13]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(df.drop(['ARR_DEL15','DEP_DEL15'], axis=1), df[['ARR_DEL15','DEP_DEL15']], test_size=0.2, random_state=42)

In [14]:
train_x.shape

(8984, 15)

In [15]:
test_x.shape

(2247, 15)

In [16]:
train_y.shape

(8984, 2)

In [17]:
test_y.shape

(2247, 2)

In [18]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=13)
model.fit(train_x, train_y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=13, verbose=0,
                       warm_start=False)

In [19]:
predicted = model.predict(test_x)
model.score(test_x, test_y)

0.787716955941255

In [20]:
from sklearn.metrics import roc_auc_score
probabilities = model.predict_proba(test_x)

In [34]:
roc_auc_score(test_y, probabilities[0])

0.49167650255917417

In [38]:
from sklearn.metrics import multilabel_confusion_matrix
multilabel_confusion_matrix(test_y, predicted)

array([[[1884,   52],
        [ 281,   30]],

       [[1833,   55],
        [ 328,   31]]], dtype=int64)

In [43]:
from sklearn.metrics import precision_score

train_predictions = model.predict(train_x)
precision_score(train_y, train_predictions, average = None)

array([0.99814986, 0.99913719])

In [44]:
from sklearn.metrics import recall_score

recall_score(train_y, train_predictions, average = None)

array([0.86182109, 0.86611818])

In [25]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [51]:
from sklearn.metrics import roc_curve

fpr, tpr, _ = roc_curve(test_y, probabilities[0])
plt.plot(fpr, tpr)
plt.plot([0, 1], [0, 1], color='grey', lw=1, linestyle='--')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')

ValueError: multilabel-indicator format is not supported

In [52]:
def predict_delay(departure_date_time, arrival_date_time, origin, destination):
    from datetime import datetime

    try:
        departure_date_time_parsed = datetime.strptime(departure_date_time, '%d/%m/%Y %H:%M:%S')
        arrival_date_time_parsed = datetime.strptime(departure_date_time, '%d/%m/%Y %H:%M:%S')
    except ValueError as e:
        return 'Error parsing date/time - {}'.format(e)

    month = departure_date_time_parsed.month
    day = departure_date_time_parsed.day
    day_of_week = departure_date_time_parsed.isoweekday()
    hour = departure_date_time_parsed.hour
    
    

    origin = origin.upper()
    destination = destination.upper()

    input = [{'MONTH': month,
              'DAY': day,
              'DAY_OF_WEEK': day_of_week,
              'CRS_DEP_TIME': hour,
              'ORIGIN_ATL': 1 if origin == 'ATL' else 0,
              'ORIGIN_DTW': 1 if origin == 'DTW' else 0,
              'ORIGIN_JFK': 1 if origin == 'JFK' else 0,
              'ORIGIN_MSP': 1 if origin == 'MSP' else 0,
              'ORIGIN_SEA': 1 if origin == 'SEA' else 0,
              'DEST_ATL': 1 if destination == 'ATL' else 0,
              'DEST_DTW': 1 if destination == 'DTW' else 0,
              'DEST_JFK': 1 if destination == 'JFK' else 0,
              'DEST_MSP': 1 if destination == 'MSP' else 0,
              'DEST_SEA': 1 if destination == 'SEA' else 0 }]

    return model.predict_proba(pd.DataFrame(input))[0][0]

AttributeError: module 'pandas' has no attribute 'Dataframe'